.first {
	margin-left: 2%;
	width: 37%;
	padding-left: 1%;
	background-color: white;
}

.second {
	margin-left: 4%;
	width: 37%;
	padding-left: 1%;
	background-color: white;
	display: block;
}

.third {
	margin-left: 6%;
	width: 37%;
	padding-left: 1%;
	background-color: white;
}

.last {
	margin-left: 8%;
	width: 35%;
	padding-left: 1%;
	background-color: white;
}

p{
	font-size: 16px;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}